<div class="about-container">
  <div class="about-header">
    <div class="about-avatar" ></div>

    <div class="about-info">
      <h2>Sobre mi:</h2>
      <h3>Desarrollador de Front-end y estudiante de la UTN</h3>
      <p>
        Mi nombre es <strong>Ivan Cordoba</strong>.<br />
        Me especializo en el desarrollo de aplicaciones web.<br />
        Soy una persona autodidacta y me gustan los desafíos.
      </p>

      <div class="about-details">
        <div class="detail">
          <span class="label">Fecha de nacimiento: </span>
          <span class="value"> 19/12/2002</span>
        </div>
        <div class="detail">
          <span class="label">Edad: </span>
          <span class="value">22 Años</span>
        </div>
        <div class="detail">
          <span class="label">Nacionalidad: </span>
          <span class="value">Argentino</span>
        </div>
        <div class="detail">
          <span class="label">Residencia: </span>
          <span class="value">Almagro - Caba</span>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="about-game">
    <h2>MI JUEGO</h2>
    <h3>Blackjack</h3>
    <p>
      El Blackjack es un juego de cartas donde el objetivo es sumar 21 puntos o acercarse lo más posible sin pasarse.
      Cada jugador compite contra el crupier.
      Las cartas del 2 al 10 valen su número, las figuras (J, Q, K) valen 10 y el As vale 1 u 11, según convenga.
      El jugador recibe 2 cartas y puede “pedir” más o “plantarse”. Si supera 21, pierde automáticamente.
      El crupier juega después, siguiendo reglas fijas (generalmente pedir hasta 17).
      Gana quien tenga la mano más alta sin pasarse de 21.
    </p>
  </div>
</div>