<div class="game-container">
  <div class="back" [routerLink]="'../../home'">
    <img src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/back.png" alt=""
      class="imgBack">
  </div>
  <div class="help" (click)="ayuda()">
    <img src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/helpIcon.png" alt=""
      class="imgHelp">
  </div>

  <div class="card">
    <h2 class="question">A que país pertenece esta bandera?</h2>
    <img [src]="question?.imageUrl" alt="bandera" class="flag" />

    <div class="options">
      <button *ngFor="let option of question.options" (click)="disabled || selectOption(option)">
        {{ option }}
      </button>
    </div>
  </div>

  <div class="puntaje">
    <p>Puntaje: {{puntos}}</p>
  </div>
</div>