<p>quien-soy works!</p>

<ul>
    <li>Datos: <p>Nombre: Iván Leonel Cordoba <br> Div: A312-1</p></li>
    <li>Imagen: <p><br></p></li>
    <li>Explicacion juego <h2>Blackjack</h2><p><strong><br>El objetivo</strong> es tener una mano cuyo valor total sea más cercano a 21 que la mano del crupier, sin pasarse de 21 (lo que se conoce como "bust" o "pasarse"). Si te pasas de 21, pierdes automáticamente.
        Si consigues un Blackjack, que es una mano con un As y una carta de valor 10 (10, J, Q, K), ganas automáticamente, a menos que el crupier también tenga Blackjack, lo que resultaría en un empate (push). 
        <strong><br> Desarrollo del juego:</strong>

        Al inicio del juego, tanto el jugador como el crupier reciben dos cartas. El jugador recibe ambas cartas boca arriba, mientras que el crupier muestra una carta (la otra está boca abajo).
        El jugador tiene varias opciones en su turno:
            Pedir carta (Hit): Solicita otra carta para aumentar el valor total de su mano.
            Plantarse (Stand): Mantener su mano actual y no pedir más cartas.
            Doblar (Double Down): Duplicar la apuesta inicial y recibir solo una carta adicional.
            Dividir (Split): Si las dos primeras cartas tienen el mismo valor, el jugador puede dividirlas en dos manos separadas y jugar cada una por separado. Esto requiere una apuesta adicional igual a la original.
            Rendirse (Surrender): En algunos casos, los jugadores pueden rendirse después de recibir las dos primeras cartas y recuperar la mitad de su apuesta.
        
            <strong><br>Reglas del crupier:</strong>

            El crupier debe jugar su mano después de que todos los jugadores hayan completado sus turnos.
            Generalmente, el crupier debe seguir reglas estrictas, como "plantarse" si tiene un valor total de 17 o más y pedir carta si tiene 16 o menos. Algunas reglas permiten que el crupier se plante con un 17 suave (un 17 que incluye un As que puede contarse como 11 o 1).

        </p></li>
</ul>