<div class="container my-5">
  <div class="row g-4 justify-content-center">

    <div class="col-md-3">
      <div class="card game-card" [routerLink]="'./ahorcado'">
        <img class="card-img-top" src="../../../assets/media/logoAhorcado.png" alt="Ahorcado">
        <div class="card-body text-center">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Se basa en adivinar una palabra. Sabes cuántas letras tiene y puedes equivocarte 5 veces.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" [routerLink]="'./mayor-menor'">
        <img class="card-img-top" src="../../../assets/media/logoMayorMenor.png" alt="Mayor o menor">
        <div class="card-body text-center">
          <h5 class="card-title">Mayor o menor</h5>
          <p class="card-text">Adivina si la siguiente carta será mayor o menor. Estrategia y suerte.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" [routerLink]="'./preguntados'">
        <img class="card-img-top" src="../../../assets/media/logoPreguntados.png" alt="Preguntados">
        <div class="card-body text-center">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">Responde preguntas de opción múltiple y gana puntos con cada acierto.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" [routerLink]="'./blackjack'">
        <img class="card-img-top" src="../../../assets/media/logoBlackjack.png" alt="Blackjack">
        <div class="card-body text-center">
          <h5 class="card-title">Blackjack</h5>
          <p class="card-text">Llega a 21 sin pasarte y derrota a la banca.</p>
        </div>
      </div>
    </div>

  </div>
</div>
