<div class="container my-5">
  <div class="divChat">
    <button class="btnChat" (click)="verificar('chat')"><img class="imgChat"
        src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/extra/chatIcon.png"
        alt=""></button>
  </div>
  <app-chat *ngIf="mostrarChat"></app-chat>

  <div class="row g-4 justify-content-center">

    <div class="col-md-3">
      <div class="card game-card" (click)="verificar('ahorcado')">
        <img class="card-img-top"
          src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/logos/logoAhorcado.png"
          alt="Ahorcado">
        <div class="card-body text-center">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Se basa en adivinar una palabra, saber qué y cuántas letras tiene.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" (click)="verificar('mayormenor')">
        <img class="card-img-top"
          src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/logos/logoMayorMenor.png"
          alt="Mayor o menor">
        <div class="card-body text-center">
          <h5 class="card-title">Mayor o menor</h5>
          <p class="card-text">Adivina si la siguiente carta será mayor o menor.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" (click)="verificar('preguntados')">
        <img class="card-img-top"
          src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/logos/logoPreguntados.png"
          alt="Preguntados">
        <div class="card-body text-center">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">Responde preguntas de múltiple opción y ganá puntos con cada acierto.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card game-card" (click)="verificar('blackjack')">
        <img class="card-img-top"
          src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/logos/logoBlackjack.png"
          alt="Blackjack">
        <div class="card-body text-center">
          <h5 class="card-title">Blackjack</h5>
          <p class="card-text">Llega a 21 sin pasarte y derrota a la banca.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="divEncuesta">
    <button class="encuesta" (click)="redireccion('/juegos-resultados')">Resultados juegos</button>
    <button class="encuesta" (click)="redireccion('/encuesta')">Encuesta</button>
  </div>
</div>
<router-outlet />