<div class="overlay" *ngIf="mostrandoCreditos">
  <div class="creditos-box">
    <p>Ingrese los créditos a apostar tus créditos({{creditos}}):</p>
    <input type="number" [(ngModel)]="creditosApostados" (keyup.enter)="confirmarCreditos()"/>
    <button (click)="confirmarCreditos()">Confirmar</button>
    <br>
    <button (click)="creditosMax()">Maximo</button>
  </div>
</div>

<div class="back" [routerLink]="'../../home'">
  <img
    src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/back.png"
    alt="" class="imgBack">
</div>

<div class="help" (click)="ayuda()">
  <img
    src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/helpIcon.png"
    alt="" class="imgHelp">
</div>

<div class="overlay" *ngIf="resultado">
  <div class="resultado-box">
    <button (click)="finalizarPartida()" *ngIf="vidas > 0">Siguiente Ronda</button>
    <p *ngIf="vidas === 0">Te quedaste sin vidas 💀</p>
  </div>
</div>

<div class="mesa">
  <div class="crupier">
    <div class="cartas">
      <img *ngFor="let carta of crupier; let i = index"
        [src]="(i===1 && crupierOculta) ? 'https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/games/mayormenor/carBlue.png' : carta.image"
        [class.animando-jugador]="carta.animando && carta.tipo === 'jugador'"
        [class.animando-crupier]="carta.animando && carta.tipo === 'crupier'" alt="carta">
    </div>
    <p class="txt">Puntos: {{ calcularPuntos(crupier, crupierOculta) }}</p>
  </div>

  <div class="acciones" *ngIf="turnoUsuario">
    <button (click)="pedirCarta()">Pedir</button>
    <button (click)="plantarse()">Plantarse</button>
  </div>

  <div class="usuario">
    <div class="cartas">
      <img *ngFor="let carta of jugador" [src]="carta.image"
        [class.animando-jugador]="carta.animando && carta.tipo === 'jugador'"
        [class.animando-crupier]="carta.animando && carta.tipo === 'crupier'" alt="carta">
    </div>
    <p class="txt">Puntos: {{ calcularPuntos(jugador) }}</p>
  </div>

  <div class="puntaje">
    <p>Créditos: {{ creditos }}</p>
  </div>
</div>