<div class="back" [routerLink]="'../../home'">
  <img
    src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/extra/back.png"
    alt="" class="imgBack">
</div>
<div class="help" (click)="ayuda()">
  <img
    src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/extra/helpIcon.png"
    alt="" class="imgHelp">
</div>

<div class="ahorcado-container">
  <div class="imagen">
    <img [src]="imagenAhorcado" alt="Ahorcado">
  </div>

  <div class="palabra">
    {{ palabraMostrada }}
  </div>

  <div class="teclado">
    <div *ngFor="let fila of teclado" class="fila">
      <button *ngFor="let letra of fila" (click)="presionarLetra(letra)"
        [disabled]="letrasAdivinadas.includes(letra) || gano || perdio" [ngClass]="{
          'usada': letrasAdivinadas.includes(letra),
          'correcta': letrasAdivinadas.includes(letra) && palabraOculta.includes(letra),
          'incorrecta': letrasAdivinadas.includes(letra) && !palabraOculta.includes(letra)
        }">
        {{ letra }}
      </button>
    </div>
  </div>

  <div class="puntaje">
    <p>Puntaje: {{puntos}}</p>
  </div>
</div>