<div class="wrapper">
    <form action="">
        <h1>Encuesta</h1>
        <div class="input-box user">
            <input type="text" name="nombre" placeholder="Nombre completo">
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="number" name="edad" placeholder="Edad">
        </div>
        <div class="input-box">
            <input type="text" name="tel" placeholder="Número de telefono">
        </div>
        <div>
            <p>Que juego te gustó?</p>
            <input type="checkbox" name="juego" id="blackjack" value="blackjack">
            <label for="blackjack">Blackjack</label><br>
            <input type="checkbox" name="juego" id="preguntados" value="preguntados">
            <label for="preguntados">Preguntados</label><br>
            <input type="checkbox" name="juego" id="mayormenor" value="mayormenor">
            <label for="mayormenor">Mayor o menor</label><br>
            <input type="checkbox" name="juego" id="ahorcado" value="ahorcado">
            <label for="ahorcado">Ahorcado</label><br>


        </div>
        <div>
            <p>Que te pareció la dificultad de los juegos?</p>
            <input type="radio" name="encuesta" id="facil" value="facil">
            <label for="facil">Fácil</label><br>
            <input type="radio" name="encuesta" id="medio" value="medio">
            <label for="medio">Medio</label><br>
            <input type="radio" name="encuesta" id="dificil" value="dificil">
            <label for="dificil">Difícil</label><br>
            <input type="radio" name="encuesta" id="imposible" value="imposible">
            <label for="imposible">Imposible de completar</label>
        </div>
        <div>
            <p>Y por último, en caso de que quieras dejar una sugerencia será recibida. Muchas gracias</p>
            <textarea name="" id=""></textarea><br>
            <input type="radio" id="no" value="no">
            <label for="no">No dejar sugerencia</label>
        </div>

        <button type="button" class="btn">Enviar</button>
    </form>
</div>