<div class="back" [routerLink]="'../'">
    <img src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/public/images/extra/back.png" alt=""
        class="imgBack">
</div>

<div class="wrapper">
    <form [formGroup]="encuesta" (ngSubmit)="enviarForm()">
        <div class="grid-container">

            <!-- Columna 1 - Datos -->
            <div class="col">
                <h2>Datos</h2>
                <div class="input-box user">
                    <input type="text" formControlName="nombre" placeholder="Nombre completo">
                    <i class='bx bxs-user'></i>
                </div>
                <ng-container *ngIf="nombre?.hasError('pattern')">
                    <small class="error-box">Colocar su nombre y apellido (Sólo puede contener letras)</small>
                </ng-container>

                <div class="input-box">
                    <input type="number" formControlName="edad" placeholder="Edad" (keypress)="soloNumeros($event)">
                    <i class='bx bxs-cake'></i>
                </div>
                <ng-container *ngIf="edad?.hasError('min') || edad?.hasError('max')">
                    <small class="error-box">La edad debe estar entre 18 y 99 años</small>
                </ng-container>

                <div class="input-box">
                    <input type="number" formControlName="telefono" placeholder="Número de teléfono"
                        (keypress)="soloNumeros($event)">
                    <i class='bx bxs-phone'></i>
                </div>
                <ng-container
                    *ngIf="telefono?.hasError('pattern') || telefono?.hasError('minlength') || telefono?.hasError('maxlength')">
                    <small class="error-box">Debe colocar 11 y los siguientes 8 dígitos, sin espacios</small>
                </ng-container>
            </div>

            <!-- Columna 2 - Respuestas -->
            <div class="col">
                <h2>Respuestas</h2>
                <div>
                    <p>¿Qué juego te gustó?</p>

                    <div formArrayName="juegos">
                        <div *ngFor="let juego of juegos; let i = index">
                            <label>
                                <input type="checkbox" [formControlName]="i">
                                {{ juego }}
                            </label>
                        </div>
                    </div>

                    <div *ngIf="juegosFormArray.invalid && encuesta.touched" class="error-box">
                        Debes seleccionar al menos un juego
                    </div>
                </div>

                <br>
                <div>
                    <p>¿Qué te pareció la dificultad?</p>
                    <label>
                        <input type="radio" value="Facil" formControlName="dificultad"> Fácil
                    </label><br>
                    <label>
                        <input type="radio" value="Medio" formControlName="dificultad"> Medio
                    </label><br>
                    <label>
                        <input type="radio" value="Dificil" formControlName="dificultad"> Difícil
                    </label><br>
                    <label>
                        <input type="radio" value="Imposible" formControlName="dificultad"> Imposible
                    </label>
                </div>
                <div *ngIf="encuesta.get('dificultad')?.invalid && encuesta.touched" class="error-box">
                    Debes seleccionar una dificultad
                </div>
            </div>

            <!-- Columna 3 - Sugerencias -->
            <div class="col">
                <h2>Sugerencias</h2>
                <p>Si querés dejar una sugerencia será recibida. ¡Muchas gracias!</p>
                <textarea formControlName="sugerencia" placeholder="Escribe tu sugerencia..."></textarea><br>

                <label>
                    <input type="radio" value="no" formControlName="sugerenciaRadio"> No dejar sugerencia
                </label>
            </div>

        </div>

        <div class="form-footer">
            <button [disabled]="encuesta.invalid" type="submit" class="btn">Enviar</button>
        </div>
    </form>
</div>

<div class="divEncuesta">
    <button class="encuesta" (click)="redireccion()">Obtener resultados</button>
</div>