<div class="content">
  <div class="back" [routerLink]="'../../home'">
    <img
      src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/extra/back.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZXh0cmEvYmFjay5wbmciLCJpYXQiOjE3NTc0Njg3ODcsImV4cCI6MTc4OTAwNDc4N30.rdSYprJunkFLVbtM48iSsscUVATUC22rLdWtd5VPLDE"
      alt="" class="imgBack">
  </div>

  <div class="help" (click)="ayuda()">
    <img
      src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/extra/helpIcon.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZXh0cmEvaGVscEljb24ucG5nIiwiaWF0IjoxNzU3OTk4NTk5LCJleHAiOjE3ODk1MzQ1OTl9.zZ5VaLxmkzpN_8oRnS1772vBcPLuePc4bhUFvBRX3sA"
      alt="" class="imgHelp">
  </div>

  <!-- Carta visible -->
  <div class="card" *ngIf="cartaVisible">
    <img [src]="cartaVisible.image" [alt]="getDescripcionCarta(cartaVisible)" />
    <p class="carta-text">{{ getDescripcionCarta(cartaVisible) }}</p>
  </div>

  <!-- Controles en el medio -->
  <div class="controls">
    <div class="control mayor">
      <img
        src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/higher.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9oaWdoZXIucG5nIiwiaWF0IjoxNzU4NTk0MzMyLCJleHAiOjE3OTAxMzAzMzJ9.VwpAn80Ci1z6shRtqPU2_2LoZuVQglsfC001I5_IkkU"
        alt="Mayor" (click)="elegirMayor()" />
    </div>
    <div class="separator"></div>
    <div class="control menor">
      <img
        src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/lower.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9sb3dlci5wbmciLCJpYXQiOjE3NTg1OTQzNDksImV4cCI6MTc5MDEzMDM0OX0.sX7-YH2nVHuK7x-FpfwNxumiXzhRAPenuu4sepU3OXY"
        alt="Menor" (click)="elegirMenor()" />
    </div>
  </div>

  <!-- Carta reversa -->
  <div class="reverseCard">
    <img
      src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/carBlue.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9jYXJCbHVlLnBuZyIsImlhdCI6MTc1Nzk5ODEwNSwiZXhwIjoxNzg5NTM0MTA1fQ.y_2NMtibRlctc2LRdiL5VRz3HhxCnfSXWhHy3IBvWQI"
      alt="Dorso" />
  </div>

  <div class="puntaje">
    <p>Puntaje: {{puntos}}</p>
  </div>
</div>