<div class="content">
  <div class="back" [routerLink]="'../../home'">
    <img
      src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/back.png"
      alt="" class="imgBack">
  </div>
  <div class="help" (click)="ayuda()">
    <img
      src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/extra/helpIcon.png"
      alt="" class="imgHelp">
  </div>

  <div class="card" *ngIf="cartaVisible">
    <img [src]="cartaVisible.image" [alt]="getDescripcionCarta(cartaVisible)" />
    <p class="carta-text">{{ getDescripcionCarta(cartaVisible) }}</p>
  </div>

  <div class="controls">
    <div class="control mayor">
      <img
        src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/games/mayormenor/higher.png"
        alt="Mayor" (click)="elegirMayor()" />
    </div>
    <div class="separator"></div>
    <div class="control menor">
      <img
        src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/games/mayormenor/lower.png"
        alt="Menor" (click)="elegirMenor()" />
    </div>
  </div>

  <div class="reverseCard">
    <img
      src="https://winlvopnawvcvyavuxcj.supabase.co/storage/v1/object/public/images/games/mayormenor/carBlue.png"
      alt="Dorso" />
  </div>

  <div class="puntaje">
    <p>Puntaje: {{puntos}}</p>
  </div>
</div>