<div class="content">
    <div class="back" [routerLink]="'../../home'">
        <img src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/extra/back.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZXh0cmEvYmFjay5wbmciLCJpYXQiOjE3NTc0Njg3ODcsImV4cCI6MTc4OTAwNDc4N30.rdSYprJunkFLVbtM48iSsscUVATUC22rLdWtd5VPLDE"
            alt="" class="imgBack">
    </div>

    <div class="help" (click)="ayuda()">
        <img src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/extra/helpIcon.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZXh0cmEvaGVscEljb24ucG5nIiwiaWF0IjoxNzU3OTk4NTk5LCJleHAiOjE3ODk1MzQ1OTl9.zZ5VaLxmkzpN_8oRnS1772vBcPLuePc4bhUFvBRX3sA"
            alt="" class="imgHelp">
    </div>

    <div class="card">

    </div>

    <div class="btns">
        <button><img
                src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/higher.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9oaWdoZXIucG5nIiwiaWF0IjoxNzU3OTk4Mjc0LCJleHAiOjE3ODk1MzQyNzR9.-Fgs2-Tb8eZC4rr-RM2kTcZZ6vlLT-2i6P24R2NKkkI"
                alt="Mayor"></button>
        <button>
            <img src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/lower.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9sb3dlci5wbmciLCJpYXQiOjE3NTc5OTgyODgsImV4cCI6MTc4OTUzNDI4OH0.nXGK7tDIJEu4S3po-8vVPv_QTDJnb8-j19P_OmNVYew"
                alt="Menor"></button>
    </div>

    <div class="reverseCard">
        <img src="https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/games/mayormenor/carBlue.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZ2FtZXMvbWF5b3JtZW5vci9jYXJCbHVlLnBuZyIsImlhdCI6MTc1Nzk5ODEwNSwiZXhwIjoxNzg5NTM0MTA1fQ.y_2NMtibRlctc2LRdiL5VRz3HhxCnfSXWhHy3IBvWQI"
            alt="">
    </div>
</div>