@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://wwgfysczkcuaqjmpqkxo.supabase.co/storage/v1/object/sign/images/fondo/fondo.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV84YTFjNTE5YS05ZDIzLTQ3Y2UtODAyOC1iMmZlYWJkNDY0MmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJpbWFnZXMvZm9uZG8vZm9uZG8ucG5nIiwiaWF0IjoxNzU2MTgyMzIwLCJleHAiOjE3ODc3MTgzMjB9.clO6j4a80pBOcoNyQQlwFCX6XCY0Cs-pC_5Io380wS0) no-repeat;
    background-size: cover;
    background-position: center;
}